
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}

.content {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(167, 210, 102);
  text-align: center;
  padding: 20px;
}

.inputAndSubmit{
    margin-bottom: 15px;
}

.content > div:first-child {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.taskList{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

.content > div:last-child {
  width: 100%;
  max-width: 400px;
}

.content > div:last-child > div {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}
